.section-styleguide{
  padding:30px;
  background:lightgrey;
  position: relative;
  z-index: 1;
  section{
    margin-bottom:20px;
  }
}

.kitchen-sink{
  .item{
    display:block;
    clear:both;
    float:none;
    .title{
      margin-top:30px;
      font-size:20px;
    }
    .subtitle{
      font-size:16px;
    }
  }
}
