.instafeed{
  background-image:url('../assets/images/bg-forest.jpg');
  background-size:cover;
  overflow: hidden;
  .instafeed__title{
    @extend .contenttitle-textstyle;
    color:$color-blueishgrey;
  }
  .instafeed__link{
    @extend .subtitle-textstyle;
    color:$color-white;
  }
  .instafeed__item{
    img{
      width:100%;
    }
    .instafeed__content{
      background-color:$color-white;
      padding:15px;
      p{
        @extend .font-light-15;
        color:$color-grey;
      }
    }
  }
}