.contact{
  background-image:url('../assets/images/bg-forest.jpg');
  background-size:cover;
  overflow: hidden;
  margin-top:$topnav-height-small;
  padding-top:40px;
  padding-bottom: 100px;
  .contact__title{
    @extend .headertitle-textstyle;
    color:$color-white;
    text-align:center;
    margin:0 auto;
    max-width: 200px;
    @include breakpoint(medium){
      max-width:380px;
    }
  }
  form.contact__form{
    margin:0 auto;
    margin-top: 22px;
    overflow: hidden;
    text-align:center;
    max-width:620px;
    .alert.success{
      position:absolute;
      display:block!important;
      opacity:0;
      @include transform(scale(0.8));
      @include breakpoint(medium){
        width:620px;
      }
    }
    .contact__fields{
      background-color:rgba(255,255,255,0.2);
      padding: 20px 5px;
      overflow:hidden;
      margin-bottom:40px;
      @include transform(translateY(0px));
      opacity:1;
      input{
        margin-bottom:10px;
      }
      textarea{
        margin-top:10px;
      }
    }
    .btn-submit{
      @include transform(scale(1));
    }
  }

}
.content-block{
  text-align:center;
  background-color:$color-white;
  overflow: hidden;
  padding-top: 58px;
  padding-bottom: 42px;
  .content-block__title{
    @extend .contenttitle-textstyle;
  }
  p{
    @extend .paragraph-textstyle;
  }
}
.footer{
  background-color:$color-black;
  height:100px;
  width:100%;
  padding: 40px 0px;
  .footer__links{
    margin:0 auto;
    width:135px;
    list-style-type:none;
    li{
      display:inline-block;
      &:not(:last-child){
        margin-right:35px;
      }
      a{
        &:hover{
          i.icon-facebook{
            @include svgIcon('icon-facebook', $color-grapefruit);
          }
          i.icon-twitter{
            @include svgIcon('icon-twitter', $color-grapefruit);
          }
          i.icon-instagram{
            @include svgIcon('icon-instagram', $color-grapefruit);
          }
        }
      }
    }
  }
}
.header-image{
  margin-top:$topnav-height-small;
  @include breakpoint(medium){
    margin-top:$topnav-height-medium;
  }
  &:after{
    content:'';
    width:100%;
    height:350px;
    position: absolute;
    height: 350px;
    @include gradient(0.1);
    bottom: 0px;
    z-index: -1;
  }
  .buttons{
    position:absolute;
    overflow:hidden;
    width:266px;
    height:calc(100% - 60px);
    left:calc(50% - 133px);
    @include flexbox;
    align-items: center;
    -webkit-align-items: center;
    .buttons__wrapper{
      .btn{
        z-index:5;
        position:absolute;
        &.btn-prev{
          left:0px;
        }
        &.btn-next{
          right:0px;
        }
        &.btn-default{
          left:50%;
          width:150px;
          @include transform(translateX(-75px));
        }
      }
    }
  }

  .slick-slider{
    .slide{
      .slide__content{
        opacity:0;
        width:100vw;
        height:calc(100vh - #{$topnav-height-small});
        background-size:cover;
        background-position:center;
        @include flexbox;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        .header__content{
          @include transform(translateY(-75px));
          .header__title{
            @extend .clienttitle-textstyle;
            text-align: center;
            margin-bottom: 27px;
            opacity:0;
            @include transform(translate3d(0px, -10px, 0px));
          }
          .btn-rounded{
            margin:0 auto;
            display:block;
            width:150px;
          }
        }
      }
    }
  }
  .btn-scrolldown{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-20px;
  }
}
.instafeed{
  background-image:url('../assets/images/bg-forest.jpg');
  background-size:cover;
  overflow: hidden;
  text-align:center;
  padding-top: 58px;
  padding-bottom: 100px;
  .instafeed__title{
    @extend .contenttitle-textstyle;
    color:$color-blueishgrey;
  }
  .instafeed__link{
    @extend .subtitle-textstyle;
    color:$color-white;
    margin-bottom: 32px;
    display: block;
  }
  .btn-default{
    display: block;
    width: 140px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .instafeed__container{
    margin:0px;
    padding:0px;
    list-style-type:none;
    .instafeed__item{
      margin-bottom:20px;
      img{
        width:100%;
      }
      .instafeed__content{
        background-color:$color-white;
        padding:15px;
        p{
          @extend .font-light-15;
          color:$color-grey;
          text-align:left;
        }
      }
    }
  }

}
.mobile-menu{
  position:fixed;
  z-index:5;
  top:$topnav-height-small;
  left:0px;
  width:100vw;
  height:100vh;
  @include transform(translateX(-100vw));
  border-top:2px solid $color-white;
  background-color:$color-black;
  @include transition(all 0.3s ease-in);
  &.open{
    @include transform(translateX(0));
  }
  .mobile-menu__nav{
    .mobile-menu__list{
      list-style-type:none;
      margin: 34px 0px 0px 0px;
      width:100%;
      li{
        text-align:center;
        margin-bottom: 36px;
        a{
          @extend .mobilemenu-textstyle;
          color:$color-white;
          &:hover, &:focus, &:active, &.active{
            color:$color-grapefruit;
          }
        }
      }
    }
  }
}

.section-styleguide{
  padding:30px;
  background:lightgrey;
  position: relative;
  z-index: 1;
  section{
    margin-bottom:20px;
  }
}

.kitchen-sink{
  .item{
    display:block;
    clear:both;
    float:none;
    .title{
      margin-top:30px;
      font-size:20px;
    }
    .subtitle{
      font-size:16px;
    }
  }
}

.top-navigation{
  position:fixed;
  z-index:5;
  top:0px;
  left:0px;
  height:$topnav-height-small;
  width:100%;
  padding:20px;
  background-color:$color-black;
  @include breakpoint(medium){
    height:$topnav-height-medium;
    padding: 25px 10px 25px 23px;
  }
  @include breakpoint(large){
    padding: 25px 10px 25px 15px;
  }
  .btn-menu{
    position:absolute;
    z-index:1;
    top:20px;
    left:20px;
    @include breakpoint(medium){
      display:none;
    }
  }
  .logo{
    display:block;
    margin:0 auto;
    width: 22px;
    height: 22px;
    @include transform(scale(0));
    opacity:0;
    @include breakpoint(medium){
      margin:0px;
      width: 32px;
      height: 32px;
      float:left;
    }
  }
  .top-navigation__nav{
    @include transform(translate3d(-80px, 0px, 0px));
    margin-top:-6px;
    opacity:0;
    float:left;
    margin-left: 22px;
    display:none;
    @include breakpoint(medium){
      display:block;
    }
    .top-navigation__list{
      list-style-type:none;
      li{
        display:inline-block;
        &:not(:last-child){
          margin-right: 35px;
        }
        a{
          @extend .navigation-textstyle;
          color:$color-warmgrey;
          &:hover, &:focus, &:active, &.active{
            color:$color-white;
          }
        }
      }
    }
  }
}