.header-image{
  margin-top:$topnav-height-small;
  @include breakpoint(medium){
    margin-top:$topnav-height-medium;
  }
  &:after{
    content:'';
    width:100%;
    height:350px;
    position: absolute;
    height: 350px;
    @include gradient(0.1);
    bottom: 0px;
    z-index: -1;
  }
  .buttons{
    position:absolute;
    overflow:hidden;
    width:266px;
    height:calc(100% - 60px);
    left:calc(50% - 133px);
    @include flexbox;
    align-items: center;
    -webkit-align-items: center;
    .buttons__wrapper{
      .btn{
        z-index:5;
        position:absolute;
        &.btn-prev{
          left:0px;
        }
        &.btn-next{
          right:0px;
        }
        &.btn-default{
          left:50%;
          width:150px;
          @include transform(translateX(-75px));
        }
      }
    }
  }

  .slick-slider{
    .slide{
      .slide__content{
        opacity:0;
        width:100vw;
        height:calc(100vh - #{$topnav-height-small});
        background-size:cover;
        background-position:center;
        @include flexbox;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        .header__content{
          @include transform(translateY(-75px));
          .header__title{
            @extend .clienttitle-textstyle;
            text-align: center;
            margin-bottom: 27px;
            opacity:0;
            @include transform(translate3d(0px, -10px, 0px));
          }
          .btn-rounded{
            margin:0 auto;
            display:block;
            width:150px;
          }
        }
      }
    }
  }
  .btn-scrolldown{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-20px;
  }
}