.header-image{
  position:relative;
  background-image:url('../assets/images/caseimage-walibi.jpg');
  background-size:cover;
  background-position:center;
  height:calc(100vh - #{$topnav-height-small});
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  margin-top:$topnav-height-small;
  @include breakpoint(medium){
    margin-top:$topnav-height-medium;
  }
  &:after{
    content:'';
    width:100%;
    height:350px;
    position: absolute;
    height: 350px;
    @include gradient(0.1);
    bottom: 0px;
    z-index: -1;
  }
  .header__content{
    @include transform(translateY(-50px));
    .header__buttons{
      margin: 0 auto;
      width: 270px;
      .btn{
        float:left;
        &:not(:last-child){
          margin-right:20px;
        }
      }
    }
    .header__title{
      @extend .clienttitle-textstyle;
      text-align: center;
      margin-bottom: 27px;
    }
    .btn-rounded{
      margin:0 auto;
      display:block;
      width:150px;
    }
  }
  .btn-scrolldown{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-20px;
  }
}