.header-image{
  margin-top:$topnav-height-small;
  @include breakpoint(medium){
    margin-top:$topnav-height-medium;
  }
  &:after{
    content:'';
    width:100%;
    height:350px;
    position: absolute;
    height: 350px;
    @include gradient(0.1);
    bottom: 0px;
    z-index: -1;
  }
  .slick-slider{
    .slide{
      .slide__content{
        width:100vw;
        height:calc(100vh - #{$topnav-height-small});
        background-size:cover;
        background-position:center;
        display: flex;
        align-items: center;
        justify-content: center;
        .header__content{
          @include transform(translateY(-50px));
          .btn{
            margin: 0 auto;
          }
          .header__title{
            @extend .clienttitle-textstyle;
            text-align: center;
            margin-bottom: 27px;
          }
          .btn-rounded{
            margin:0 auto;
            display:block;
            width:150px;
          }
        }
      }
    }
  }
  .slick-arrow{
    position: absolute;
    z-index: 5;
    &.slick-prev{
      top: calc(50% - 15px);
      left: calc(50% - 135px);
    }
    &.slick-next{
      top: calc(50% - 15px);
      left: calc(50% + 95px);
    }
  }
  .btn-scrolldown{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-20px;
  }
}