<ul class="pagination">
  <li><a href="#" class="btn btn-circle btn-pagination active">1</a></li>
  <li><a href="#" class="btn btn-circle btn-pagination">2</a></li>
  <li><a href="#" class="btn btn-circle btn-pagination">3</a></li>
</ul>