input[type="submit"].btn, a.btn, button{
  display:inline-block;
  &.btn-default{
    background-color:$color-black;
    color:$color-white;
    height:40px;
    text-align:center;
    padding:0 40px;
    line-height:40px;
    font-size: 15px;
    border:0px;
    box-shadow:none;
    &:hover, &:focus, &:active{
      background-color:$color-grapefruit;
    }
  }
  &.btn-menu{
    padding:0px;
    height:20px;
    width:20px;
    line-height:20px;
  }
  &.btn-rounded{
    border-radius:20px;
  }
  &.btn-prev, &.btn-next, &.slick-arrow{
    display: block;
    background-color: $color-black;
    font-size: 0px;
    border-radius:50%;
    width:40px;
    height:40px;
    padding:0px;
    background-position: center;
    cursor:pointer;
    &:hover, &:focus, &:active{
      box-shadow:none;
      outline:0px;
    }
    &:hover{
      background-color:$color-grapefruit;
    }
  }
  &.btn-prev, &.slick-prev{
    @include svgIcon('icon-arrow--left', $color-white);
    background-size: 8px 12.1px;
  }
  &.btn-next, &.slick-next{
    @include svgIcon('icon-arrow--right', $color-white);
    background-size: 8px 12.1px;
  }
  &.btn-scrolldown{
    padding:0px;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:$color-white;
    i.icon{
      &.icon-arrow--down{
        display:none;
      }
      &.icon-scrolldown{
      @include transform(translateX(1px) translateY(4px));
    }
    }
    &:hover, &:focus, &:active{
      background-color:$color-white;
      i.icon-scrolldown{
        @include svgIcon('icon-arrows', $color-grapefruit);
      }
    }
    @include breakpoint(large){
      width:54px;
      height:54px;
      line-height:70px;
      &:hover, &:focus, &:active{
        i.icon-scrolldown{
          @include svgIcon('icon-mouse', $color-grapefruit);
        }
      }
      i.icon{
        &.icon-arrow--down{
          display:block;
          margin: 0 auto;
        }
      }
    }

  }
  &.btn-submit{
    cursor:pointer;
    border-radius:20px;
    background-color:$color-grapefruit;
    &:hover, &:focus, &:active{
      box-shadow:none;
      outline:0px;
      background-color:$color-salmon;
    }
  }
}