// breakpoints
$breakpoint-small:    "only screen and (min-width: 400px)";
$breakpoint-medium:   "only screen and (min-width: 1024px)";

$grid-column-count: 24!default;
$breakpoint-classes: (small medium large xlarge);
$grid-column-gutter: (
  small: 10px,
  medium: 5px,
  large:10px,
  xlarge:10px,
) !default;