<section class="header-image">

  <div class="buttons">
    <div class="buttons__wrapper">
      <button type="button" data-role="none" class="btn btn-prev slick-prev slick-arrow" aria-label="Previous" role="button" style=""></button>
      <a href="#" class="btn btn-default btn-rounded">View case</a>
      <button type="button" data-role="none" class="btn btn-next slick-next slick-arrow" aria-label="Next" role="button" style=""></button>
    </div>
  </div>

  <div class="slick-slider">
    <div class="slide">
      <div class="slide__content" style="background-image:url('assets/images/caseimage-walibi.jpg')">
        <div class="row">
          <div class="columns small-24">
            <div class="header__content">
              <h1 class="header__title">Walibi</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content" style="background-image:url('assets/images/bg-forest.jpg')">
        <div class="row">
          <div class="columns small-24">
            <div class="header__content">
              <h1 class="header__title">Film.nl</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content" style="background-image:url('assets/images/caseimage-walibi.jpg')">
        <div class="row">
          <div class="columns small-24">
            <div class="header__content">
              <h1 class="header__title">Union</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__content" style="background-image:url('assets/images/bg-forest.jpg')">
        <div class="row">
          <div class="columns small-24">
            <div class="header__content">
              <h1 class="header__title">Oxfam Novib</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-default btn-scrolldown"><i class="icon icon-scrolldown"></i></a>
</section>