<section class="mobile-menu">
  <div class="container">
    <div class="columns small-24">
      <nav class="mobile-menu__nav">
        <ul class="mobile-menu__list">
          <li><a href="/">Home</a></li>
          <li><a href="people.php">People</a></li>
          <li><a href="contact.php">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>