<section class="instafeed">
  <div class="row">
    <h3 class="instafeed__title">Follow us on instagram</h3>
    <a href="#" class="instafeed__link">@tamtamlnl</a>
    <a href="https://api.instagram.com/oauth/authorize?client_id=3f82142d11d34cef993bfb28ed7999bf&redirect_uri=http://localhost/tt-case/dist/home.php&response_type=token&scope=public_content" class="btn btn-feed btn-default btn-rounded" style="display:none">Get feed</a>
    <div class="instafeed__container" id="instafeed"></div>
    </div>
  </div>
</section>