<section class="instafeed">
  <div class="container">
    <a href="https://api.instagram.com/oauth/authorize?client_id=3f82142d11d34cef993bfb28ed7999bf&redirect_uri=http://localhost/tt-case/dist/home.php&response_type=token&scope=public_content">Get feed</a>
    <div class="instafeed__container" id="instafeed"></div>
    </div>
  </div>
</section>